{% extends 'student_management_system_app/home.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center  vh-100">
    <form action="" method="post" class="w-25 p-5 shadow">
        {% csrf_token %}
        <label for="" class="form-label">Username</label>
        <input type="text" class="form-control" name="username">
        <label for="" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
        <br>
        {% if messages %}
        {% for i in messages %}
        <p for="" class="text-danger">{{i}}</p>
        {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>

{% endblock %}